
<div class="container" style="border:1px solid #000;">

	<div class="row" >
	   <div class="col-xs-12" >
		    <div class="text-center" >
		    <h1>標高○ｍ</h1>
		    </div>
	   </div>
<!--
		   <div class="col-xs-12" >
			    <div class="embed-responsive embed-responsive-16by9" >
					<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.7440370154136!2d139.6976429!3d35.658677499999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca9de53830f%3A0x5689d691008c8578!2z5p2x5Lqs6YO95riL6LC35Yy66YGT546E5Z2C77yS5LiB55uu77yR77yQ4oiS77yR77yS!5e0!3m2!1sja!2sjp!4v1418763586981"></iframe>
			    </div>
		   </div>
	   <div class="col-xs-12" >
	        <div class="text-center">
	        	<a href="" target="_blank"><%= image_tag('Download_on_the_App_Store_Badge_US-UK_135x40.svg', class: "image-responsive" , :size => "135x40")%>
	        	<a href="" target="_blank"><%= image_tag('google-play-badge.png', class: "image-responsive" , :size => "135x40") %>
	        	<a href="aaaa" class="btn btn-primary btn-lg"><i class=""></i> mapを開くよ</a>
	        </div>
	    </div>
-->

	</div>
</div>


